// Custom variables

// Color system

$color-1: #e3e8f3;
$color-2: #c5d2e8;
$color-3: #363f4d; // 01
$color-4: #4c5a74; // 02
$color-5: #a1c6db; // 03
$color-6: #80a2d7; // 04
$color-7: #385476; // 05
$color-8: #a1dbd3;
$color-9: #dba1a9;
$color-10: #dbb6a1;
$color-11: #ced780;

$primary: $color-7;
$secondary: $color-5;
$success: $color-8;
$info: $color-5;
$warning: $color-10;
$danger: $color-9;
$light: $color-1;
$dark: $color-3;

// Breakpoints

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Body

// Settings for the `<body>` element.
$body-bg: $color-1;
$body-color: $color-3;
// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Open Sans",
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";

$headings-font-weight: 300;
$headings-margin-bottom: 1rem;

// Bootstrap’s source Sass files
// Bootstrap - required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
// Bootstrap - optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
