<template>
  <section
    id="contact"
    v-bind:class="['app__component', { 'app__component_active': isComponentActive }]"
  >
    <article class="article">
      <article-header-component :article="article"></article-header-component>
      <p>Zapraszam do kontaktowania się ze mną. Z chęcią nawiążę kontakt nie tylko z osobami, które poszukują pracownika na
        stanowisko (junior) front-end developera, ale również z osobami, które szukają kogoś do realizacji projektu na
        zlecenie. Na wiadomości odpowiadam maksymalnie w ciągu 24 godzin.</p>
      <div class="article__row">
        <article-form-component></article-form-component>
      </div>
    </article>
  </section>
</template>

<script>
import ArticleHeaderComponent from "../components/ArticleHeaderComponent";
import ArticleFormComponent from "../components/ArticleFormComponent";

export default {
  components: {
    ArticleHeaderComponent,
    ArticleFormComponent
  },

  name: "ContactComponent",

  data() {
    return {
      article: {
        title: "Kontakt"
      }
    };
  },

  computed: {
    isComponentActive() {
      if (this.$route.name === "contact") {
        return true;
      } else {
        return false;
      }
    }
  }
};
</script>
