<template>
  <section
    id="intro"
    v-bind:class="['app__component intro', { 'app__component_active': isComponentActive }]"
  >
    <div>
      <logo-component :logoConfig="logoConfig"></logo-component>
      <h1 class="intro__header">Maciej Wójcik</h1>
      <p class="intro__lead">Front-end developer</p>
      <router-link
        :to="'/o-mnie'"
        class="intro__cta"
        active-class=""
        exact-active-class=""
        exact
      >
        <img
          v-if="isTouchScreen"
          :src="icon.tap"
          class="intro__icon"
          alt="Dotknij przycisk"
        >
        <img
          v-else
          :src="icon.mouse"
          class="intro__icon"
          alt="Kliknij przycisk"
        >
      </router-link>
    </div>
  </section>
</template>

<script>
import LogoComponent from "../components/LogoComponent";

// Icons
import mouseIcon from "../assets/img/intro-component/mouse.svg";
import tapIcon from "../assets/img/intro-component/tap.svg";

export default {
  components: {
    LogoComponent
  },

  name: "IntroComponent",

  data() {
    return {
      logoConfig: {
        color: {
          mobile: "dark", // light, dark
          desktop: "dark" // light, dark
        },
        image: {
          width: 6 // rem
        },
        isAnimate: false, // Boolean (It works only in menu)
        link: {
          isActive: false, // Boolean
          url: "/" // url
        }
      },

      icon: {
        mouse: mouseIcon,
        tap: tapIcon
      },

      isTouchScreen: false
    };
  },

  computed: {
    isComponentActive() {
      if (this.$route.name === "intro") {
        return true;
      } else {
        return false;
      }
    }
  },

  created() {
    if ("ontouchstart" in window) {
      this.isTouchScreen = true;
    }
  }
};
</script>

<style lang="scss">
/* Styles */
@import "../assets/scss/styles.scss";

@keyframes intro-pulse-1 {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.6);
  }
  15% {
    transform: scale(1);
  }
}
@keyframes intro-pulse-2 {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.6);
  }
  15% {
    transform: scale(1);
  }
}

.intro {
  background-color: $color-2;
  font-size: 1rem;
  top: 0 !important;
  z-index: 1;
  @include media-breakpoint-up(lg) {
    font-size: 1.4rem;
  }
  > div {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__header {
    font-size: 3em;
    text-transform: uppercase;
  }
  &__lead {
    font-weight: 300;
  }
  &__cta {
    background-color: $danger;
    border-radius: 50%;
    border-width: 0;
    display: inline-block;
    height: 4.5rem;
    margin-top: 4rem;
    outline-width: 0;
    position: relative;
    width: 4.5rem;
    &::before,
    &::after {
      animation-duration: 8s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-out;
      animation-play-state: paused;
      border-radius: 50%;
      bottom: 0;
      content: "";
      height: 4.5rem;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 4.5rem;
      .app__component_active & {
        animation-play-state: running;
      }
    }
    &::before {
      animation-delay: 1s;
      animation-name: intro-pulse-1;
      background-color: rgba($danger, 0.3);
    }
    &::after {
      animation-delay: 1.3s;
      animation-name: intro-pulse-2;
      background-color: rgba($danger, 0.3);
    }
  }
  &__icon {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
  }
}
</style>
