<template>
  <section
    id="portfolio"
    v-bind:class="['app__component', { 'app__component_active': isComponentActive }]"
  >
    <article class="article portfolio">
      <article-header-component :article="article"></article-header-component>
      <div class="article__row">
        <div class="article__description">
          <p>W moim portfolio większość prac to projekty komercyjne powstałe podczas współpracy z firmą Spy Shop. Modyfikowałem
            warstwę prezentacji dla sklepów internetowych, tworzyłem strony typu OnePage, Landing Page oraz szablony dla
            systemu zarządzania treścią WordPress.</p>
          <p>Zapraszam do obejrzenia moich projektów.</p>
          <div class="button-group button-group_left button-group_margin-top">
            <router-link
              :to="this.$route.path +'/wybrane-projekty'"
              class="button button_primary"
              active-class=""
              exact-active-class=""
              exact
            >Zobacz projekty</router-link>
          </div>
          <!-- /.button-group -->
        </div>
        <div class="article__image portfolio__image">
          <img
            v-for="(item, key) in image"
            :src="item.src"
            :key="key"
            :alt="item.alt"
            class="portfolio__image-item"
            :data-image-id="key"
          >
        </div>
      </div>
    </article>
  </section>
</template>

<script>
import ArticleHeaderComponent from "../components/ArticleHeaderComponent";

// Images
import card from "../assets/img/portfolio-component/card.svg";
import doing from "../assets/img/portfolio-component/doing.svg";
import done from "../assets/img/portfolio-component/done.svg";
import monitor from "../assets/img/portfolio-component/monitor.svg";
import mousePointer from "../assets/img/portfolio-component/mouse-pointer.svg";
import toDo from "../assets/img/portfolio-component/to-do.svg";

export default {
  components: {
    ArticleHeaderComponent
  },

  name: "PortfolioComponent",

  data() {
    return {
      article: {
        title: "Portfolio"
      },

      image: [
        {
          src: monitor,
          alt: "Monitor"
        },
        {
          src: toDo,
          alt: "Zadania do realizacji"
        },
        {
          src: doing,
          alt: "Zadania realizowane"
        },
        {
          src: done,
          alt: "Zadania zrealizowane"
        },
        {
          src: card,
          alt: "Karta"
        },
        {
          src: mousePointer,
          alt: "Kursor myszki"
        }
      ]
    };
  },

  computed: {
    isComponentActive() {
      if (this.$route.name === "portfolio") {
        return true;
      } else {
        return false;
      }
    }
  }
};
</script>

<style lang="scss">
/* Styles */
@import "../assets/scss/styles.scss";

.portfolio {
  &__image {
    margin-bottom: 2rem;
    overflow: hidden;
    position: relative;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
    &-item {
      left: 0;
      position: absolute;
      right: 0;
      top: 0;

      // Monitor
      &[data-image-id="0"] {
        position: relative;
        transform: translate(100%, 0%);
        transition-duration: 0.6s;
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
        .app__component_active & {
          transform: translate(0%, 0%);
          transition-delay: 0.5s;
        }
      }

      // Columns
      @keyframes portfolio-show-window {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1);
        }
      }
      &[data-image-id="1"],
      &[data-image-id="2"],
      &[data-image-id="3"] {
        transform-origin: 5% 70%;
        transform: scale(0);
        z-index: 1;
        .app__component_active & {
          animation-duration: 0.8s;
          animation-fill-mode: forwards;
          animation-name: portfolio-show-window;
          animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
        }
      }
      &[data-image-id="1"] {
        .app__component_active & {
          animation-delay: 1.2s;
        }
      }
      &[data-image-id="2"] {
        .app__component_active & {
          animation-delay: 1.4s;
        }
      }
      &[data-image-id="3"] {
        .app__component_active & {
          animation-delay: 1.6s;
        }
      }

      // Card
      @keyframes portfolio-show-card {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1);
        }
      }
      @keyframes portfolio-move-card {
        0% {
          transform: translate(0%, 0%);
        }
        100% {
          transform: translate(29.7%, 0%);
        }
      }
      &[data-image-id="4"] {
        transform-origin: 5% 70%;
        transform: scale(0);
        z-index: 2;
        .app__component_active & {
          animation-delay: 1.4s, 4s;
          animation-duration: 0.8s, 0.2s;
          animation-fill-mode: forwards;
          animation-name: portfolio-show-card, portfolio-move-card;
          animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28),
            linear;
        }
      }

      // Mouse pointer
      &[data-image-id="5"] {
        @keyframes portfolio-show-mouse-pointer {
          0% {
            transform: scale(0);
          }
          100% {
            transform: scale(1);
          }
        }
        @keyframes portfolio-move-mouse-pointer {
          0% {
            transform: translate(0%, 0%);
          }
          25% {
            transform: translate(-15%, -25%);
          }
          75% {
            transform: translate(-15%, -25%);
          }
          100% {
            transform: translate(15%, -25%);
          }
        }
        transform-origin: right bottom;
        transform: scale(0);
        z-index: 3;
        .app__component_active & {
          animation-delay: 2.2s, 3.2s;
          animation-duration: 0.8s, 1s;
          animation-fill-mode: forwards;
          animation-name: portfolio-show-mouse-pointer,
            portfolio-move-mouse-pointer;
          animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28),
            linear;
        }
      }
    }
  }
}
</style>
