<template>
  <section
    id="skills"
    v-bind:class="['app__component', { 'app__component_active': isComponentActive }]"
  >
    <article class="article skills">
      <article-header-component :article="article"></article-header-component>
      <div class="article__row">
        <div class="article__description">
          <h3>Umiejętności miękkie</h3>
          <ul>
            <li>dokładność, dbałość o detale realizowanego projektu;</li>
            <li>potrafię pracować według ścisłych wytycznych;</li>
            <li>łatwość w realizowaniu zadań i skupienie na celu;</li>
            <li>duża motywacja do pracy;</li>
            <li>chęć do nauki i samorozwoju;</li>
            <li>dbałość o dobrą atmosferę i komunikację w zespole;</li>
            <li>wypracowywanie kompromisów;</li>
            <li>dzielenie się zdobytą wiedzą;</li>
            <li>wysoka kultura osobista;</li>
            <li>dobrze przyjmuję konstruktywną krytykę.</li>
          </ul>
          <h3>Umiejętności twarde</h3>
          <p>Zobacz wybrane umiejętności twarde, technologie i narzędzia, które wykorzystuje w swoich projektach.</p>
          <div class="button-group button-group_left button-group_margin-top">
            <router-link
              :to="this.$route.path +'/stos-technologiczny'"
              class="button button_primary"
              active-class=""
              exact-active-class=""
              exact
            >Zobacz</router-link>
          </div>
          <!-- /.button-group -->
        </div>
        <div class="article__image skills__image">
          <img
            v-for="(item, key) in image"
            :src="item.src"
            :key="key"
            :alt="item.alt"
            class="skills__image-item"
            :data-image-id="key"
          >
        </div>
      </div>
    </article>
  </section>
</template>

<script>
import ArticleHeaderComponent from "../components/ArticleHeaderComponent";

// Images
import editorWindow from "../assets/img/skills-component/editor-window.svg";
import monitor from "../assets/img/skills-component/monitor.svg";
import mousePointer from "../assets/img/skills-component/mouse-pointer.svg";
import windowOne from "../assets/img/skills-component/window-1.svg";
import windowTwo from "../assets/img/skills-component/window-2.svg";

export default {
  components: {
    ArticleHeaderComponent
  },

  name: "SkillsComponent",

  data() {
    return {
      article: {
        title: "Umiejętności"
      },

      image: [
        {
          src: editorWindow,
          alt: "Edytor kodu"
        },
        {
          src: monitor,
          alt: "Monitor"
        },
        {
          src: mousePointer,
          alt: "Kursor myszki"
        },
        {
          src: windowOne,
          alt: "Okno aplikacji"
        },
        {
          src: windowTwo,
          alt: "Okno aplikacji"
        }
      ]
    };
  },

  computed: {
    isComponentActive() {
      if (this.$route.name === "skills") {
        return true;
      } else {
        return false;
      }
    }
  }
};
</script>

<style lang="scss">
/* Styles */
@import "../assets/scss/styles.scss";

.skills {
  &__image {
    margin-bottom: 2rem;
    overflow: hidden;
    position: relative;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
    &-item {
      left: 0;
      position: absolute;
      right: 0;
      top: 0;

      // Editor window
      &[data-image-id="0"] {
        @keyframes skills-show-editor {
          0% {
            transform: scale(0);
          }
          100% {
            transform: scale(1);
          }
        }
        transform-origin: center 70%;
        transform: scale(0);
        z-index: 4;
        .app__component_active & {
          animation-delay: 6.5s;
          animation-duration: 0.8s;
          animation-fill-mode: both;
          animation-name: skills-show-editor;
          animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
        }
      }

      // Monitor
      &[data-image-id="1"] {
        position: relative;
        transform: translate(100%, 0%);
        transition-duration: 0.6s;
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
        .app__component_active & {
          transform: translate(0%, 0%);
          transition-delay: 0.5s;
        }
      }

      // Mouse pointer
      &[data-image-id="2"] {
        @keyframes skills-show-mouse-pointer {
          0% {
            transform: scale(0);
          }
          100% {
            transform: scale(1);
          }
        }
        @keyframes skills-move-mouse-pointer {
          0% {
            transform: translate(0%, 0%);
          }
          25% {
            transform: translate(-24%, -34%);
          }
          30% {
            transform: translate(-24%, -34%);
          }
          55% {
            transform: translate(24%, -34%);
          }
          60% {
            transform: translate(24%, -34%);
          }
          100% {
            transform: translate(-50%, 10%);
          }
        }
        transform-origin: right bottom;
        transform: scale(0);
        z-index: 3;
        .app__component_active & {
          animation-delay: 2s, 3s;
          animation-duration: 0.8s, 3s;
          animation-fill-mode: forwards;
          animation-name: skills-show-mouse-pointer, skills-move-mouse-pointer;
          animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28),
            linear;
        }
      }

      // Windows
      @keyframes skills-show-window {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1);
        }
      }
      @keyframes skills-close-window {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(0);
        }
      }
      &[data-image-id="3"],
      &[data-image-id="4"] {
        transform-origin: 5% 70%;
        transform: scale(0);
        .app__component_active & {
          animation-duration: 0.8s;
          animation-fill-mode: forwards;
          animation-name: skills-show-window, skills-close-window;
          animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28),
            cubic-bezier(0.08, 0.82, 0.17, 1);
        }
      }
      &[data-image-id="3"] {
        z-index: 1;
        .app__component_active & {
          animation-delay: 1.2s, 4s;
        }
      }
      &[data-image-id="4"] {
        z-index: 2;
        .app__component_active & {
          animation-delay: 1.4s, 4.9s;
        }
      }
    }
  }
}
</style>
