<template>
  <section
    id="skills-technologies"
    v-bind:class="['app__component', { 'app__component_active': isComponentActive }]"
  >
    <article class="article">
      <article-header-component :article="article"></article-header-component>
      <ul class="skills-technologies">
        <li
          v-for="(category, categoryIndex) in technologies"
          :key="categoryIndex"
          class="skills-technologies__category"
        >
          <h3>{{ category.name }}</h3>
          <ul class="skills-technologies__category-items">
            <li
              v-for="(item, itemIndex) in category.items"
              :key="itemIndex"
              class="skills-technologies__category-item"
            >
              <div class="skills-technologies__category-skill">
                <img
                  v-if="item.logo"
                  :src="item.logo"
                  :alt="item.name"
                  class="skills-technologies__category-skill__image"
                >
                <!-- /.skills-technologies__category-skill__image -->
                <h4 class="skills-technologies__category-skill__name">{{ item.name }}</h4>
                <!-- /.skills-technologies__category-skill__name -->
                <p class="skills-technologies__category-skill__desc">{{ item.description }}</p>
                <!-- /.skills-technologies__category-skill__desc -->
              </div>
              <!-- /.skills-technologies__category-skill -->
            </li>
            <!-- /.skills-technologies__category-item -->
          </ul>
          <!-- /.skills-technologies__category-items -->
        </li>
        <!-- /.skills-technologies__category -->
      </ul>
      <!-- /.skills-technologies -->
    </article>
  </section>
</template>

<script>
import ArticleHeaderComponent from "../components/ArticleHeaderComponent";

// Icons
import babel from "../assets/img/skills-technologies-component/babel.png";
import bootstrap from "../assets/img/skills-technologies-component/bootstrap.png";
import css3 from "../assets/img/skills-technologies-component/css3.png";
import eslint from "../assets/img/skills-technologies-component/eslint.png";
import git from "../assets/img/skills-technologies-component/git.png";
import gulp from "../assets/img/skills-technologies-component/gulp.png";
import html5 from "../assets/img/skills-technologies-component/html5.png";
import javascript from "../assets/img/skills-technologies-component/javascript.png";
import jquery from "../assets/img/skills-technologies-component/jquery.png";
import npm from "../assets/img/skills-technologies-component/npm.png";
import sass from "../assets/img/skills-technologies-component/sass.png";
import svn from "../assets/img/skills-technologies-component/svn.png";
import vscode from "../assets/img/skills-technologies-component/vscode.png";
import vue from "../assets/img/skills-technologies-component/vue.png";
import webpack from "../assets/img/skills-technologies-component/webpack.png";

export default {
  components: {
    ArticleHeaderComponent
  },

  name: "SkillsTechnologiesComponent",

  data() {
    return {
      article: {
        title: "Umiejętności / stos technologiczny"
      },
      technologies: [
        {
          name: "Języki",
          items: [
            {
              name: "HTML5",
              logo: html5,
              description:
                "Tworzę strukturalny i semantyczny kod. Stosuję nowoczesne formularze, osadzam multimedia, przechowuję dane lokalnie. Jako że HTML5 to otwarty standard, obejmujący bardzo wiele technologii, to nadal uczę się tego języka."
            },
            {
              name: "CSS3",
              logo: css3,
              description:
                "Kaskadowe arkusze stylów tworzę z myslą o urządzeniach mobilnych (Mobile first). Stosuję techniki pozwalające dostosować wygląd i układ strony do rozmiaru okna przeglądarki (Responsive web design)."
            },
            {
              name: "JavaScript",
              logo: javascript,
              description:
                "Obecna wiedza pozwala mi samodzielnie tworzyć skrypty i rozwiązywać wiele problemów. Często korzystam z dokumentacji (MDN) i książek. Wciąż poznaję nowe metody, obiekty wbudowane, wzorce projektowe, technologie Web APIs, zagłębiam się w programowanie funkcyjne i obiektowe. Poznaję standard ECMAScript 6."
            }
          ]
        },
        {
          name: "Frameworki CSS",
          items: [
            {
              name: "Bootstrap",
              logo: bootstrap,
              description:
                "Swobodnie korzystam z biblioteki, wszelkie braki, szybko, uzupełniam dokumentacją projektu. O ile to możliwe, poszczególne komponenty biblioteki załączam pojedynczo do moich projektów, tak aby nie ładować elementów, które nie zostaną użyte."
            }
          ]
        },
        {
          name: "Pre-procesory CSS",
          items: [
            {
              name: "Sass/SCSS",
              logo: sass,
              description:
                "Swobodnie korzystam z możliwości, jakie daje proeprocesor CSS. Wszelkie braki, niepamięć składni, szybko uzupełniam na podstawie dokumentacji projektu. Klasy w kodzie HTML staram się tworzyć zgodnie z metodologią BEM, co pozwala na zachowanie modularnego kodu CSS."
            }
          ]
        },
        {
          name: "Biblioteki JavaScript",
          items: [
            {
              name: "jQuery",
              logo: jquery,
              description:
                "Swobodnie korzystam z biblioteki, wszelkie braki, szybko, uzupełniam dokumentacją projektu."
            }
          ]
        },
        {
          name: "Frameworki JavaScript",
          items: [
            {
              name: "Vue.js + Vuex + vue-router",
              logo: vue,
              description:
                "Z frameworka opartego na komponentach, korzystałem przy dwóch projektach. Aktualnie uczę się go, aby móc tworzyć zaawansowany interfejs użytkownika."
            }
          ]
        },
        {
          name: "Pre-procesory JavaScript",
          items: [
            {
              name: "Babel",
              logo: babel,
              description:
                "Narzędzie pozwala mi na transpilację kodu pisanego zgodnie ze standardem ES6 na ES5."
            }
          ]
        },
        {
          name: "Loadery modułów / Bundlery",
          items: [
            {
              name: "Webpack",
              logo: webpack,
              description:
                "Preferowane przez ze mnie narzędzie do przetwarzania plików źródłowych projektu. Konfigurację, dodawanie loader'ów, plugin'ów realizuję na podstawie dokumentacji projektu."
            }
          ]
        },
        {
          name: "Narzędzia do automatyzacji zadań",
          items: [
            {
              name: "Gulp",
              logo: gulp,
              description:
                "Narzędzie pozwala mi na automatyzację zadań w projekcie, takich jak transpilacja stylów napisanych w Sass na czysty CSS, minifikacja kodu i wiele innych."
            }
          ]
        },
        {
          name: "Edytory / IDE",
          items: [
            {
              name: "Visual Studio Code",
              logo: vscode,
              description:
                "Mój ulubiony edytor, z którym pracuję już od dłuższego czasu."
            }
          ]
        },
        {
          name: "Systemy kontroli wersji",
          items: [
            {
              name: "Git",
              logo: git,
              description:
                "Podstawy wiersza poleceń takie jak: tworzenie repozytorium, klonowanie, add & commit, wysyłanie zmian, tworzenie gałęzi, aktualizacja i scalanie. Korzystałem z takich serwisów jako Bitbucket i GitLab."
            },
            {
              name: "SVN",
              logo: svn,
              description:
                "Pierwszy system kontroli wersji, z jakim miałem okazję pracować. Wszystkie operacje związane z repozytorium wykonywałem, korzystając z narzędzia TortoiseSVN."
            }
          ]
        },
        {
          name: "Menedżery pakietów",
          items: [
            {
              name: "npm",
              logo: npm,
              description:
                "Manager pakietów dla środowiska Node.js używam na poziomie podstawowym, do utworzenia listy zależności (package.json) modułów niezbędnych do zbudowania projektu."
            }
          ]
        },
        {
          name: "Lintery",
          items: [
            {
              name: "HTMLHint",
              logo: null,
              description:
                "HTMLHint zwraca mi uwagę na wszelkie błędy składniowe, z duplikowane id i wiele innych błędów, jakie mogą się pojawić w kodzie HTML."
            },
            {
              name: "ESLint",
              logo: eslint,
              description:
                "ESLint pozwala mi tworzyć kod JavaScript pozbawiony błędów składniowych i innych. Kod w projektach jest ujednolicony zgodnie z wytycznymi stylu."
            }
          ]
        }
      ]
    };
  },

  computed: {
    isComponentActive() {
      if (this.$route.name === "skills-technologies") {
        return true;
      } else {
        return false;
      }
    }
  }
};
</script>

<style lang="scss">
/* Styles */
@import "../assets/scss/styles.scss";

.skills-technologies {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
  &__category {
    &-items {
      list-style-image: none;
      list-style-position: outside;
      list-style-type: none;
      margin: 0;
      padding: 0;
      @include media-breakpoint-up(lg) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -1rem;
      }
    }
    &-item {
      margin-bottom: 2rem;
      @include media-breakpoint-up(lg) {
        flex: 0 1 (100% / 2);
        padding: 0 1rem;
      }
      @include media-breakpoint-up(xl) {
        flex: 0 1 (100% / 3);
      }
    }
    &-skill {
      background-color: $white;
      border-radius: 2px;
      padding: 2rem 1rem;
      @include media-breakpoint-up(lg) {
        height: 100%;
      }
      &__image {
        display: block;
        height: 5rem;
        margin: 0 auto 1rem;
        max-width: 100%;
      }
      &__name {
        text-align: center;
      }
    }
  }
}
</style>
