<template>
  <header class="article__header">
    <h2>{{ article.title }}</h2>
  </header>
</template>

<script>
export default {
  name: "AboutComponent",

  data() {
    return {};
  },

  props: ["article"]
};
</script>

<style lang="scss">
/* Styles */
@import "../assets/scss/styles.scss";

.article {
  &__header {
    border-bottom: 2px solid $dark;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    @include media-breakpoint-up(md) {
      align-items: center;
      background-color: $color-2;
      border-width: 0;
      display: flex !important;
      height: 5rem;
      margin: -2rem -3rem 2rem -3rem;
      padding: 0 3rem;
    }
    h2 {
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      color: $dark;
      @include media-breakpoint-up(md) {
        text-align: left;
      }
    }
  }
}
</style>
