<template>
  <form
    id="contact-form"
    class="contact-form"
    ref="contactForm"
    novalidate
  >
    <div
      v-for="(item, key) in form.field"
      :key="key"
      class="contact-form__row"
    >
      <label
        class="contact-form__label"
        :for="key"
      >{{ item.label }}</label>
      <input
        v-if="item.type !== 'textarea'"
        v-model="item.input"
        @focus="closeAlert($event)"
        @change="removesWhitespaceFromBothSidesOfAString($event)"
        class="contact-form__input"
        :type="item.type"
        :name="key"
        :id="key"
      >
      <textarea
        v-else
        v-model="item.input"
        @focus="closeAlert($event)"
        class="contact-form__textarea"
        :name="key"
        :id="key"
      ></textarea>
      <div
        :class="['alert alert_danger alert_form-field', { 'alert_form-field_active' : item.alert.isActive }]"
        role="alert"
      >{{ item.alert.text }}</div>
    </div>

    <div
      :class="['alert alert_' + XHRNotification.class + ' alert_xhr-notification', { 'alert_xhr-notification_active' : XHRNotification.isActive }]"

      role="alert"
    >{{ XHRNotification.text }}</div>

    <div class="button-group">
      <div class="g-recaptcha">
        <div
          id="g-recaptcha"
          class="g-recaptcha__iframe"
        ></div>
        <div
          :class="['alert alert_danger alert_g-recaptcha alert_g-recaptcha_' + screenType, { 'alert_g-recaptcha_active' : grecaptcha.alert.isActive }]"

          role="alert"
        >{{ grecaptcha.alert.text }}</div>
      </div>
      <button
        @click.prevent="validateForm()"
        class="button button_primary"
        type="submit"
        :aria-label="form.submit.label"
      >{{ form.submit.label }}</button>
    </div>
  </form>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "ArticleFormComponent",

  data() {
    return {
      form: {
        field: {
          name: {
            label: "Imię i Nazwisko*",
            input: "",
            type: "text",
            regexp: "^([a-ząśżźćęółń]{3,}\\s?)+$",
            required: true,
            alert: {
              isActive: false,
              text: "",
              type: {
                required: "Pole jest wymagane.",
                incorrect: "Nieprawidłowy format pola."
              }
            }
          },
          email: {
            label: "Adres e-mail*",
            input: "",
            type: "email",
            regexp: "^[0-9a-z_.-]+@[0-9a-z.-]+\\.[a-z]{2,3}$",
            required: true,
            alert: {
              isActive: false,
              text: "",
              type: {
                required: "Pole jest wymagane.",
                incorrect: "Nieprawidłowy format pola."
              }
            }
          },
          subject: {
            label: "Temat",
            input: "",
            type: "text",
            regexp: "^([\\w\\.!?]{1,} ?)+$",
            required: false,
            alert: {
              isActive: false,
              text: "",
              type: {
                required: "Pole jest wymagane.",
                incorrect: "Nieprawidłowy format pola."
              }
            }
          },
          message: {
            label: "Wiadomość*",
            input: "",
            type: "textarea",
            regexp: ".",
            required: true,
            alert: {
              isActive: false,
              text: "",
              type: {
                required: "Pole jest wymagane.",
                incorrect: "Nieprawidłowy format pola."
              }
            }
          }
        },
        submit: {
          label: "Wyślij wiadomość"
        },
        reset: {
          label: "Wyczyść formularz"
        }
      },
      grecaptcha: {
        sitekey: "6Lfao2gUAAAAALQ0ibyN-ztdDKq9HgcBlhcoWyle",
        theme: "dark", // dark, light,
        mobileSize: "compact",
        desktopSize: "normal",
        tabindex: 0,
        token: "",
        required: true,
        alert: {
          isActive: false,
          text: "",
          type: {
            required: "Udowodnij, że nie jesteś robotem."
          }
        }
      },
      XHRNotification: {
        isActive: false,
        text: "",
        class: "",
        type: {
          "mail-success": {
            text: "Twoja wiadomość została wysłana pomyślnie.",
            class: "success"
          },
          "mail-error": {
            text: "Twoja wiadomość nie została wysłana.",
            class: "danger"
          }
        }
      }
    };
  },

  computed: {
    ...mapGetters({
      screenType: "screen/getType"
    })
  },

  methods: {
    removesWhitespaceFromBothSidesOfAString(event) {
      var id = event.target.id;

      this.form.field[id].input = this.form.field[id].input.trim();
    },

    validateForm() {
      var fields = this.form.field;
      var sendAMessage = true;

      for (const field in fields) {
        if (fields.hasOwnProperty(field)) {
          const element = fields[field];
          const pattern = new RegExp(element.regexp, "gi");

          if (element.input === "" && element.required) {
            sendAMessage = false;
            element.alert.text = element.alert.type.required;
            element.alert.isActive = true;
          }

          if (element.input !== "" && !pattern.test(element.input)) {
            sendAMessage = false;
            element.alert.text = element.alert.type.incorrect;
            element.alert.isActive = true;
          }
        }
      }

      if (this.grecaptcha.token === "" && this.grecaptcha.required) {
        sendAMessage = false;
        this.grecaptcha.alert.text = this.grecaptcha.alert.type.required;
        this.grecaptcha.alert.isActive = true;
      }

      if (!sendAMessage) {
        this.scrollToFirstAlert();
      }

      if (sendAMessage) {
        this.sendMessage();
      }
    },

    scrollToFirstAlert() {
      var top = this.$refs.contactForm.offsetTop - 20;

      window.scrollTo({
        top: top,
        behavior: "smooth"
      });
    },

    closeAlert(event) {
      var id = event.target.id;

      this.form.field[id].alert.isActive = false;
      this.XHRNotification.isActive = false;
    },

    resetContactForm() {
      // eslint-disable-next-line
      resetRecaptcha();
    },

    getQueryString() {
      let formData = new FormData();
      let stringObj = this.form.field;

      for (const key in stringObj) {
        if (stringObj.hasOwnProperty(key)) {
          formData.append(key, stringObj[key].input);
        }
      }

      // reCAPTCHA POST parameter when the user submits form
      formData.append("g-recaptcha-response", this.grecaptcha.token);

      return formData;
    },

    sendMessage() {
      var reference = this;
      var xhr = new XMLHttpRequest();

      xhr.open("POST", "/phpmailer/mail.php", true);

      xhr.addEventListener(
        "load",
        function() {
          if (this.status === 200) {
            reference.displayXHRNotification(this.response);
            reference.resetContactForm();
          }
        },
        false
      );

      xhr.send(this.getQueryString());
    },

    displayXHRNotification(response) {
      this.XHRNotification.text = this.XHRNotification.type[response].text;
      this.XHRNotification.class = this.XHRNotification.type[response].class;
      this.XHRNotification.isActive = true;
    }
  },

  mounted() {
    /* eslint-disable */
    // Renders the container as a reCAPTCHA widget.
    var widget;

    window.initRecaptcha = () => {
      widget = grecaptcha.render("g-recaptcha", {
        sitekey: this.grecaptcha.sitekey,
        theme: this.grecaptcha.theme,
        size:
          this.screenType === "mobile"
            ? this.grecaptcha.mobileSize
            : this.grecaptcha.desktopSize,
        tabindex: this.grecaptcha.tabindex,
        callback: verifyCallback
      });
    };

    // Resets the reCAPTCHA widget.
    window.resetRecaptcha = () => {
      grecaptcha.reset(widget);
    };

    // Function is executed when the user submits a successful response.
    window.verifyCallback = token => {
      this.grecaptcha.token = token;
    };
  },

  watch: {
    "grecaptcha.token"() {
      this.grecaptcha.alert.isActive = false;
    }
  }
};
</script>

<style lang="scss">
/* Styles */
@import "../assets/scss/styles.scss";

.contact-form {
  align-items: center;
  background-color: $color-2;
  border-radius: 2px;
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: 2rem;
  @include media-breakpoint-up(md) {
    flex: 0 1 70%;
  }
  @include media-breakpoint-up(xl) {
    flex: 0 1 60%;
  }
  .button-group {
    align-items: center;
    flex-direction: column;
    @include media-breakpoint-up(lg) {
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__row {
    margin-bottom: 1rem;
    position: relative;
    width: 100%;
  }
  &__label {
    display: block;
    font-weight: 300;
    text-transform: uppercase;
  }
  &__input,
  &__textarea {
    background-color: $color-1;
    border-width: 0;
    color: $dark;
    font-size: 0.9rem;
    padding: 0.5rem;
    width: 100%;
  }
  &__textarea {
    height: 8rem;
  }
}

.alert {
  &_form-field,
  &_g-recaptcha {
    opacity: 0;
    padding: 0.5rem 1rem !important;
    position: absolute;
    text-align: center;
    transition-duration: 0.6s;
    transition-property: opacity, visibility;
    transition-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
    visibility: hidden;
    width: 100%;
    z-index: 1;
    &::before {
      border-bottom: 10px solid transparent;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      bottom: -20px;
      content: "";
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
    }
    &_active {
      opacity: 1;
      visibility: visible;
    }
  }
  &_form-field {
    top: -5px;
    @include media-breakpoint-up(sm) {
      right: 0;
      width: 50%;
    }
    &::before {
      border-top: 10px solid $danger;
    }
  }
  &_g-recaptcha {
    top: -58px;
    @include media-breakpoint-up(sm) {
      top: -37px;
    }
    &::before {
      border-top: 10px solid $danger;
    }
  }
  &_xhr-notification {
    display: none;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
    &_active {
      display: block;
    }
  }
}

.g-recaptcha {
  margin-bottom: 1rem;
  position: relative;
  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }
}
</style>
