<template>
  <div class="lazy-loading-images">
    <div :class="['lazy-loading-images__item', { 'lazy-loading-images__item_active' : viewSettings.device === 'mobile' }]">
      <img
        :src="image.mobile"
        :alt="item.title"
        ref="mobileImage"
        :data-image-src="item.image.mobile"
        data-mobile-image-visibility="0"
      >
      <div :class="['lazy-loading-images__mobile-preloader', { 'lazy-loading-images__mobile-preloader_active' : preloader.mobile.isActive }]"></div>
      <!-- /.lazy-loading-images__mobile-preloader -->
    </div>
    <!-- /.lazy-loading-images__mobile -->
    <div :class="['lazy-loading-images__item', { 'lazy-loading-images__item_active' : viewSettings.device === 'desktop' }]">
      <img
        :src="image.desktop"
        :alt="item.title"
        ref="desktopImage"
        :data-image-src="item.image.desktop"
        data-desktop-image-visibility="0"
      >
      <div :class="['lazy-loading-images__desktop-preloader', { 'lazy-loading-images__desktop-preloader_active' : preloader.desktop.isActive }]"></div>
      <!-- /.lazy-loading-images__desktop-preloader -->
    </div>
    <!-- /.lazy-loading-images__desktop -->
  </div>
  <!-- /.lazy-loading-images -->
</template>

<script>
// Images
import emptyMobileImage from "../assets/img/lazy-loading-images-component/mobile.png";
import emptyDesktopImage from "../assets/img/lazy-loading-images-component/desktop.png";

export default {
  name: "mobileImagesComponent",

  data() {
    return {
      image: {
        mobile: emptyMobileImage,
        desktop: emptyDesktopImage
      },
      preloader: {
        mobile: {
          isActive: true
        },
        desktop: {
          isActive: true
        }
      }
    };
  },

  methods: {
    viewportHeight() {
      return window.innerHeight;
    },

    checkImagePositionRelativeToTheViewport() {
      setTimeout(() => {
        let image;

        if (this.viewSettings.device === "mobile") {
          image = this.$refs.mobileImage;
        } else if (this.viewSettings.device === "desktop") {
          image = this.$refs.desktopImage;
        }

        let imageVisibility = parseInt(image.dataset.imageVisibility);

        if (!imageVisibility) {
          let imageTopPositionRelativeToTheViewport =
            this.viewportHeight() - image.getBoundingClientRect().top;

          if (imageTopPositionRelativeToTheViewport >= 0) {
            this.setImageUrl(image);
          }
        }
      }, 0);
    },

    setImageUrl(image) {
      // Set image url
      image.src = image.dataset.imageSrc;

      if (this.viewSettings.device === "mobile") {
        // Set a state of uncovered image
        image.dataset.mobileImageVisibility = 1;

        // Hide preloader
        this.preloader.mobile.isActive = false;
      } else if (this.viewSettings.device === "desktop") {
        // Set a state of uncovered image
        image.dataset.desktopImageVisibility = 1;

        // Hide preloader
        this.preloader.desktop.isActive = false;
      }
    }
  },

  mounted() {
    if (this.isComponentActive) {
      //
      window.addEventListener(
        "load",
        () => {
          this.checkImagePositionRelativeToTheViewport();
        },
        false
      );
    }
  },

  watch: {
    isComponentActive() {
      if (this.isComponentActive) {
        this.checkImagePositionRelativeToTheViewport();
      }
    },

    scrollEventTimeStamp() {
      if (this.isComponentActive) {
        this.checkImagePositionRelativeToTheViewport();
      }
    },

    "viewSettings.device"() {
      if (this.isComponentActive) {
        this.checkImagePositionRelativeToTheViewport();
      }
    }
  },

  props: ["item", "viewSettings", "isComponentActive", "scrollEventTimeStamp"]
};
</script>

<style lang="scss">
/* Styles */
@import "../assets/scss/styles.scss";

.lazy-loading-images {
  position: relative;
  &__item {
    display: none;
    &_active {
      display: initial;
    }
  }
  &__mobile-preloader,
  &__desktop-preloader {
    background-color: $white;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition-delay: 0.5s;
    transition-duration: 2s;
    transition-property: opacity, visibility;
    transition-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
    visibility: hidden;
    &_active {
      opacity: 1;
      visibility: visible;
    }
    @keyframes spinner {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    &::before,
    &::after {
      animation-iteration-count: infinite;
      animation-name: spinner;
      animation-timing-function: linear;
      border-radius: 50%;
      bottom: 0;
      content: "";
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
    }
    &::before {
      animation-duration: 2s;
      border-bottom: 2px solid $danger;
      border-left: 2px solid $danger;
      border-right: 2px solid $danger;
      border-top: 2px solid transparent;
      height: 4rem;
      width: 4rem;
    }
    &::after {
      animation-duration: 0.8s;
      border-bottom: 2px solid transparent;
      border-left: 2px solid $secondary;
      border-right: 2px solid $secondary;
      border-top: 2px solid $secondary;
      height: 3rem;
      width: 3rem;
    }
  }
}
</style>
