<template>
  <div
    v-if="logoConfig.link.isActive"
    :class="['logo logo_' + logoConfig.color[screenType], { 'logo_animate' : logoConfig.isAnimate }, { 'logo_animate-active' : menuIsActive }]"
  >
    <router-link
      :to="logoConfig.link.url"
      @click.native="toggleMenu()"
      class="logo__link"
      active-class=""
      exact-active-class=""
      exact
    >
      <img
        :src="logo.src"
        :alt="logo.alt"
        class="logo__image"
        :style="{ 'width': logoConfig.image.width + 'rem' }"
      >
    </router-link>
  </div>

  <div
    v-else
    :class="['logo logo_' + logoConfig.color[screenType], { 'logo_animate' : logoConfig.isAnimate }]"
  >
    <img
      :src="logo.src"
      :alt="logo.alt"
      class="logo__image"
      :style="{ 'width': logoConfig.image.width + 'rem' }"
    >
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

// Images
import logo from "../assets/img/logo-component/logo.svg";

export default {
  name: "LogoComponent",

  data() {
    return {
      logo: {
        src: logo,
        alt: "mawoo.pl"
      }
    };
  },

  computed: {
    ...mapGetters({
      menuIsActive: "menu/getActivity",
      screenType: "screen/getType"
    })
  },

  methods: {
    ...mapActions({
      menuChangeActivityCommit: "menu/changeActivityCommit"
    }),

    toggleMenu() {
      if (this.screenType === "mobile" && this.menuIsActive) {
        this.menuChangeActivityCommit();
      }
    }
  },

  props: ["logoConfig"]
};
</script>

<style lang="scss">
@import "../assets/scss/styles.scss";

.logo {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  text-transform: uppercase;

  &__link {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    text-transform: uppercase;
    &:hover {
      text-decoration: none;
    }
    .logo_light & {
      color: $white;
    }
    .logo_dark & {
      color: $dark;
    }
  }
  &_animate {
    @include media-breakpoint-up(md) {
      position: relative;
    }
  }
}
</style>
