<template>
  <div
    id="app"
    :class="['app app_' + screenType]"
    :style="{ height: appHeight }"
  >
    <header-component></header-component>
    <main :class="['app__main']">
      <intro-component></intro-component>
      <about-component></about-component>
      <skills-component></skills-component>
      <skills-technologies-component></skills-technologies-component>
      <portfolio-component></portfolio-component>
      <portfolio-projects-component></portfolio-projects-component>
      <contact-component></contact-component>
    </main>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

/* Shared */
import HeaderComponent from "./components/HeaderComponent";

/* Pages */
import IntroComponent from "./views/IntroComponent";
import AboutComponent from "./views/AboutComponent";
import SkillsComponent from "./views/SkillsComponent";
import SkillsTechnologiesComponent from "./views/SkillsTechnologiesComponent";
import PortfolioComponent from "./views/PortfolioComponent";
import PortfolioProjectsComponent from "./views/PortfolioProjectsComponent";
import ContactComponent from "./views/ContactComponent";

export default {
  components: {
    HeaderComponent,
    IntroComponent,
    AboutComponent,
    SkillsComponent,
    SkillsTechnologiesComponent,
    PortfolioComponent,
    PortfolioProjectsComponent,
    ContactComponent
  },

  name: "App",

  data() {
    return {
      appHeight: "auto"
    };
  },

  computed: {
    ...mapGetters({
      screenType: "screen/getType"
    }),

    isIntroComponentActive() {
      if (this.$route.name === "intro") {
        return true;
      } else {
        return false;
      }
    }
  },

  created() {
    this.mediaQueryListListener();
    this.setAppHeight();
  },

  methods: {
    ...mapActions({
      changeScreenType: "screen/changeTypeCommit"
    }),

    mediaQueryListListener() {
      var reference = this;
      var mql = window.matchMedia("(min-width: 768px)");
      var checkMediaQuery = function() {
        if (mql.matches) {
          reference.changeScreenType("desktop");
        } else {
          reference.changeScreenType("mobile");
        }
      };

      //
      checkMediaQuery();

      //
      mql.addListener(checkMediaQuery);
    },

    setAppHeight() {
      var reference = this;

      this.appHeight = window.innerHeight + "px";

      window.addEventListener(
        "resize",
        () => {
          reference.appHeight = window.innerHeight + "px";
        },
        false
      );
    }
  }
};
</script>

<style lang="scss">
/* Styles */
@import "./assets/scss/styles.scss";

a {
  outline-width: 0;
}

// Applications
.app {
  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: row;
  }
  &__main {
    @include media-breakpoint-up(md) {
      flex: 1 1 auto;
      position: relative;
    }
  }
  &__component {
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow-y: auto;
    padding: 2rem 1rem 0;
    position: absolute;
    right: 0;
    top: 3rem;
    transition-duration: 1s;
    transition-property: opacity, visibility;
    transition-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
    visibility: hidden;
    @include media-breakpoint-up(md) {
      padding: 2rem 3rem;
      top: 0;
    }
    &_active {
      opacity: 1;
      visibility: visible;
      z-index: 1;
    }
  }
}

// Article
.article {
  padding-bottom: 3rem;
  &__row {
    display: flex;
    flex-direction: column-reverse;
    @include media-breakpoint-up(md) {
      flex-direction: row;
      justify-content: center;
    }
  }
  &__description {
    @include media-breakpoint-up(md) {
      flex: 0 1 50%;
      padding-right: 2rem;
    }
  }
  &__image {
    @include media-breakpoint-up(md) {
      flex: 0 1 50%;
    }
  }
}

// Butons
.button {
  border-radius: 2px;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 1rem 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  &:hover {
    color: $white;
    text-decoration: none;
  }
  &_primary {
    background-color: $primary;
    border: 1px solid $primary;
    color: $white;
  }
  &_secondary {
    background-color: $secondary;
    border: 1px solid $secondary;
  }
  &_success {
    background-color: $success;
    border: 1px solid $success;
  }
  &_danger {
    background-color: $danger;
    border: 1px solid $danger;
  }
  &_warning {
    background-color: $warning;
    border: 1px solid $warning;
  }
  &_info {
    background-color: $info;
    border: 1px solid $info;
  }
  &_light {
    background-color: $light;
    border: 1px solid $dark;
  }
  &_dark {
    background-color: $dark;
    border: 1px solid $dark;
    color: $white;
  }
  &_link {
    background-color: $color-2;
    border: 1px solid $color-2;
  }
}
.button-group {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  &_left {
    @include media-breakpoint-up(md) {
      justify-content: flex-start;
    }
  }
  &_center {
    @include media-breakpoint-up(md) {
      justify-content: center;
    }
  }
  &_right {
    @include media-breakpoint-up(md) {
      justify-content: flex-end;
    }
  }
  &_justify {
    @include media-breakpoint-up(md) {
      justify-content: space-between;
    }
  }
  &_margin-top {
    margin-top: 2rem;
  }
}

// Alerts

.alert {
  border-radius: 2px;
  font-size: 14px;
  padding: 1rem;
  text-align: center;
  &_primary {
    background-color: $primary;
    color: $white;
  }
  &_secondary {
    background-color: $secondary;
  }
  &_success {
    background-color: $success;
  }
  &_danger {
    background-color: $danger;
  }
  &_warning {
    background-color: $warning;
  }
  &_info {
    background-color: $info;
  }
  &_light {
    background-color: $light;
  }
  &_dark {
    background-color: $dark;
    color: $white;
  }
}
</style>
